SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="000a", ATTRS{serial}=="E6611032E352252E", MODE="0666", SYMLINK+="pico1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="000a", ATTRS{serial}=="E66164084376B72A", MODE="0666", SYMLINK+="pico2"

